<%= if @current_user do %>
  <h2>Welcome, <%= @current_user.email %>!</h2>
  <img src="<%= @current_user.avatar %>" class="img-circle"/>
  <%= button "Logout", to: auth_path(@conn, :delete), method: :delete, class: "btn btn-danger" %>
<% else %>
  <br/>
  <br/>
  <a class="btn btn-primary btn-lg" href="<%= auth_path @conn, :index, "google" %>">
    <i class="fa fa-google"></i>
    Sign in with Google
  </a>
<% end %>
